body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    margin:0;
    background: #f4f4f4;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
header{
    margin:0;
    background-image: url('images/writting_letter.jpg');
    min-height: 300px;
    background-position: center center;
    text-align: center;
}
header h1{
    font-family: cursive ;
    font-size: 100px;
    font-style: bold;
    color: coral;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    color: lightslategrey;
}
#todoForm{
    padding: 15px;
    border-bottom: 1px coral solid;
    background: #35424a;
    width:auto;
    min-height: 50px;
}
#todoInput{
    float: left;
    width: 87%;
    min-height: 38px;
    margin-left: 5px;
    box-sizing: border-box;
}
#button{
    float: right;
    width: 10%;
    min-height: 35px;
    padding-right: 10px;
    box-sizing: border-box;
    color:#ffffff;
    background: #e8491d;
    border:0;
}
#todoList{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    margin:0;
    background: #f4f4f4;
}
@media(max-width: 950px){
    #todoInput{
        float: none;
        width: 100%
    }
    #button{
        float:none;
        width: 90px;
        margin-top: 10px;
        margin-left: 7px;
    }
}